/*
Colors used:
Main Color for Text: Dark blue rgb(0,32,96)
Backgroundcolor for Quoteboxes light blue rgb(201,219,255)
Response Color positive Confirmation green rgb(142,157,88)
Activation Color Orange rgb(232,169,86)
Boxes and Lines Light grey rgb(242,242,242)
Backgroundcolor White rgb(255/255/255)
*/



* {
  box-sizing: border-box;
}

/* Area Definition */
body {
  font-family: 'Roboto', sans-serif;
  background-color: rgb(242,242,242);
  font-size: 16px; /* Sets the font size to 16px */
  font-weight: 300; /* Sets the font weight to 300 */
  line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
  color: rgb(0,32,96);
}

header {
  background-color: rgb(255,255,255);
  text-align: center;
  box-shadow: 0px 10px 10px 0px rgba(122, 122, 122, 0.75);
  position: fixed;
  width: 100%;
}

main {
  padding-top: 200px;
}
#hero {
  background-color: #ffffff;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}
#hero h1 {
  text-align: center; /* Centers text */
}

/* Image und Logo styling */
img {
  width: 100%;
}

.heroimg {
  width: 200px
}

/* Headline styling */
h1, h2, h3, h4 {
  line-height: 1.4;
}
h1 {
  font-size: 2.75em;
  font-weight: 700;
}
h2 {
  font-size: 2.25em;
  font-weight: 700;
  text-transform: uppercase;
}
h3 {
  font-size: 1.75em;
  font-weight: 400;
}
h4 {
  font-size: 1.35em;
  font-weight: 400;
}

/* Button styling */
.button {
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: rgb(242,242,242);
  color: rgb(232,169,86) !important; /* needed to override the default link color */
  font-weight: 400;
  padding: 5px;
  border-radius: 10px;
  border-bottom: 2px solid rgb(232,169,86); /* width of the border, type, color */
  transition: 0.2s opacity;
  float:right;
}

.button:hover {
  background-color: rgb(210,210,210);
  opacity: 1.0; /* Reduces the opacity of the button to 100% */
  text-decoration: none;
}
.button:active{
  background-color: rgb(142,157,88);
  opacity: 1.0; /* Reduces the opacity of the button to 100% */
  text-decoration: none;
}

.button.contact {
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: rgb(242,242,242);
  color: rgb(142,157,88) !important; /* needed to override the default link color */
  font-weight: 400;
  padding: 5px;
  border-radius: 10px;
  border-bottom: 2px solid rgb(142,157,88); /* width of the border, type, color */
  transition: 0.2s opacity;
  float:right;
}
.button.contact:hover {
  background-color: rgb(210,210,210);
  opacity: 1.0; /* Reduces the opacity of the button to 100% */
  text-decoration: none;
}
.button.contact:active{
  background-color: rgb(232,169,86);
  opacity: 1.0; /* Reduces the opacity of the button to 100% */
  text-decoration: none;
}

/* Layout styling */
.container {
  padding: 5px 15px;
  margin: 3px 0px;
  background-color: rgb(255,255,255);
}

.logorhb {
  text-align: center;
  width: 100px;
  padding: 10px 0px;
}

.hero {
  text-align: center;
}
.row {
  margin: 25px 0px; /* 25px top and bottom, 0 left and right */
}
.row::after {
content: "";
clear: both;
display: table;
}
.socialmedia {
  padding: 5px 15px;
  background-color: rgb(255,255,255);
}

/* Navigation + Link styling */
a {
  color: rgb(232,169,86);
  text-decoration: none; /* No underlining */
}
a:hover {
  color: rgb(232,169,86);
  text-decoration: underline; /* Underlining when hovering over a link */
}
a:focus {
  color: rgb(232,169,86);
  text-decoration: underline;
}
a:visited { /* visited link */
  color: rgb(0,64,192);
}
a:active { /* selected link */
  color: rgb(142,157,88);

}
nav {
  display: inline-block;
  width:100%
}
nav > ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
}
nav > ul > li {
  display: inline-block;
}
nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: rgb(0,32,96);
}

/*Media Querries

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }
  body {
    font-size: 20px; /* Sets the font size to 16px */
  }
  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }
  .col-md-6 {
  width: 50%;
  }
  [class*="col-"] {
  float: left;
  padding: 10px 10px;
  }

}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }
  body {
    font-size: 20px; /* Sets the font size to 16px */
  }
  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }
  .col-lg-7 {
  width: 60%;
  }
  .col-lg-5 {
  width: 40%;
  }
  [class*="col-"] {
  float: left;
  padding: 10px 10px;
  }

}

/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
  .container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
}
